# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\吴仪坤\IDEA-Code\WinSocket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
